.unhidden-account {
    display: inline-block;
}

.selected {
	color: white;
	background: rgb(59,52,54);  
    border-radius: 3px 3px 0px 0px;   
    border: 1px solid rgb(80,10,25);
    border-bottom: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.not-selected {
	background: rgb(255,251,252);  
    border-radius: 3px 3px 0px 0px;
    border: 1px solid rgb(235,232,232);
    border-bottom: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

#selectors {
	font-size: 1.7em;
}

#polls-selector {
    float: left;
    width: 50%;
    text-align: center;
    padding: 5px;
}

#images-selector {
    float: right;
    width: 50%;
    text-align: center;
    padding: 5px;
}

#account-polls {
	width:100%;
	border-top: 0px;
	border-radius: 0px 0px 3px 3px;
}

.poll-container {
	margin: 3%;
	width: 94%;
	display: inline-block;
}

.poll-question {
	font-size: 2em;
	padding: 1%;
}

.poll-choices-container {

}

.poll-choice {
	display: inline-block;
	width: 20%;
	float: left;
	position: relative;
}

.poll-choice-image {
	width: 100%;
}

.results-bar {
	position: absolute;
	bottom: 3px;
	background-color: rgba(59,52,54, 0.8);
	width: 100%;
}

#account-images {
	width: 100%;
	border-top: 0px;
	border-radius: 0px 0px 3px 3px;
}

.account-poll {
	width: 150px;
	height: 150px;
	float: left;
}

.account-image-container {
	position: relative;
	float: left;
	width: 23%;
	margin: 1%;
}

.delete-image-image {
	position: absolute;
	top: 10px;
	right: 10px;
	opacity: 0;
	cursor: pointer;
}

.edit-image-image {
	position: absolute;
	top: 10px;
	right: 35px;
	opacity: 0;
	cursor: pointer;
}

.account-image {
	width: 100%;
	cursor: default;
}

.polls-image {
	margin-left: auto ;
  	margin-right: auto ;
	width: 16%;
	margin: 1%;
	padding-top: 1%;

}

.polls-question{
	font-size:150%;
	text-align:center;
	line-height : 180%; 
	color:white;
	margin-top: 7px;
}

.polls-user {
	font-size:100%;
	color:rgb(220,180,180);
	float:right;
	margin-top: 4px;
	margin-right: 6px;
}


.polls-curr {
	margin: 0px auto;
	margin-bottom: 2%;
	border-top: 0px;
	border-radius: 0px 0px 3px 3px;
}

.polls-data {
	margin-left:1%;
}