html {
    font-size: 62.5%;
}

body {
    background-image: url('/static/media/stylingimages/background.png');
    font-size: 1em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 1000px){
    body {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 850px){
    body {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 650px){
    body {
        font-size: 0.5em;
    }
}


.hidden {
    display: none;
}

.light-background-border {
    background: rgb(255,251,252);
    border-radius: 3px;
    border: 1px solid rgb(235,232,232);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: rgb(59,52,54);
}

.dark-background-border {
    background: rgb(59,52,54);
    border-radius: 3px;
    border: 1px solid rgb(80,10,25);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
}

#container {
	width:60%;
	min-width: 300px;
	max-width: 1000px;
	margin: 0px auto;
}

#content {
    width: 100%;
    display: inline-block;
    /*background-color: white;*/
    margin-top: 10px;
    /*border-radius: 3px;
    border: 1px solid rgb(230,230,230);*/
}

#navigation-bar {
    margin-top: 30px;
    background-color: rgb(250, 77, 125);
    border: 1px solid rgb(220,70,105);
    border-radius: 3px;
    width: 100%;
    display: inline-block;
    font-size: 2em;
    position: relative;
}

.nav-bar-links {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 2%;
    border: 0px;
    background-color: rgb(250, 77, 125);
    font-size: 1em;
    margin: 0px;
    cursor: pointer;
}

.force-dark {
    background-color: rgb(59,52,54)!important;
    border: 1px solid rgb(230,230,230)!important;
    border-radius: 3px;
    color: white;
}

.nav-bar-links-left {
    border-right: 1px solid rgb(220,70,105);
    float: left;
}

.nav-bar-links-right {
    border-left: 1px solid rgb(220,70,105);
    float: right;
}

.nav-bar-links:hover {
    background-color: rgb(255, 95, 140);
}

#login-container {
    /*float: right;*/
}

#login-form-container {
    position: absolute;
    z-index: 10;
    top: 45px;
    font-size: 0.7em;
    right: 6%;
    padding: 3px;
}

#login-form-container p {
    padding: 0px;
    margin: 0px;
}

.not-logged-in-message {
    padding: 10px;
    display: inline-block;
}
