#createpoll-title {
	font-size: 180%;
	color: white;
}

.createpoll-userimage {
	width : 15%;
	


}

.createpoll-image {
	width : 17.55%;
	margin: 1%;
	padding-top: 1%;

 


}

.createpoll-userimage {
	width : 10%;
	margin: .8%;
}

#createpoll-data {
	font-size: 200%;
	margin-left: 3%;
	margin-right: 3%;
}

#createpoll-instruction {
	font-size: 100%;
}

#id_question {
	width: 60%;
}

#id_private {
	padding-left:20px;
height:15px; 
display:inline-block;
line-height:15px;
background-repeat:no-repeat;
background-position: 0 0;
font-size:15px;
vertical-align:middle;
cursor:pointer;
}

#make-poll {
	background: rgb(59,52,54);
	color: rgb(255,251,252);
	border: 1px solid rgb(80,10,25);
	border-radius: 2px;
	margin-bottom: 5px;
}