#workspace {
    float: left;
    display: inline-block;
    position: relative;
    width: 78%;
    margin-right: 2%;
    border-top: 0px;
    border-radius: 0px 0px 3px 3px;
}

#headshot {
    cursor:default;
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 700px;
    min-height: 400px;
}

#style-options {
    width: 20%;
    float: right;
    border-bottom: 0px;
    border-radius: 3px 3px 0px 0px;
}

#style-container {
    float: right;
    width: 20%;
}

#active-style-container {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
}

.active-style {
    width: 30%;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
}

.style {
    float: left;
    width: 100%;
    cursor:default;
}

.inactive-style {
    opacity: 0.5;
}

#home-options {
    float: left;
    width: 78%;
    border-bottom: 0px;
    border-radius: 3px 3px 0px 0px;
    font-size: 1.4em;
}

.home-option {
    color: white;
    text-decoration: none;
    float: left;
    padding: 10px 3%;
    border-right: white;
    cursor: pointer;
}

.home-option:hover {
    background-color: rgb(79,75,77);
}

.user-headshots {
    width: 25%;
}