.polls-image {
	margin-left: auto ;
  	margin-right: auto ;
	width: 16%;
	margin: 1%;
	padding-top: 1%;

}

.polls-question{
	font-size:150%;
	text-align:center;
	line-height : 180%; 
	color:white;
	margin-top: 7px;
}

.polls-user {
	font-size:100%;
	color:rgb(220,180,180);
	float:right;
	margin-top: 4px;
	margin-right: 6px;
}


.polls-curr {
	margin: 0px auto;
	margin-bottom: 2%;
}

#polls-newer{
	display: none;
}

.polls-data {
	margin-left:1%;
}



.polls-button-col {
	width:8%;
	height:520px;

}

.polls-button {
	width: 40px;
}

#polls-currset {
	

}

#polls-table {
	width: 100%
}

.poll-option {
		width:18%;
	margin:1%;

	float:left;
}