
#poll-data {
	margin-left: 10px;
	margin-right: 10px;
}
#poll-question{
	font-size:150%;
	text-align:center;
	line-height : 100%; 
   


	margin-top: 7px;

}

#userdate {
	font-size:100%;
	color:rgb(220,180,180);

	float:right;
	margin-top: 4px;
}

#poll-images {

	margin-left: auto ;
  margin-right: auto ;
/*border:2px solid;*/
}

.poll-option {

	width:18%;
	margin:1%;

	float:left;
}

.poll-image {
	width: 100%;
	margin-top: 2%;
	float:left;
}

.poll-votes {
	visibility: hidden;
	font-size:150%;
	text-align:center;

}




#poll-error {
	margin-top: 40px;
	text-align: center;
	font-size:300%;
	display: none;

}

#poll-container {
	display: inline-block;

}

#poll-option {
	margin-top: 4px;
}