#form-container {
	position: relative;
	display: inline-block;
	left: 50%;
}

#register-form {
	position: relative;
	left: -50%;
	padding: 10px 10px 30px 10px;
}

#register-button {
	float: right;
}