{% load dajaxice_templatetags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}SwagSwap{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{MEDIA_URL}}stylingimages/favicon.ico">
    {% dajaxice_js_import %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css">
    {% block page-css %}{% endblock %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script type="text/javascript">
        var registerURL = "{% url imageswap.views.register %}";
        var accountURL = "{% url imageswap.views.account %}";
        var logoutURL = "{% url imageswap.views.log_out %}";
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/base.js"></script>
    {% block page-js %}{% endblock %}
</head>

<body>
    <div id="container">
        <div id="navigation-bar">
            <div id="main-links">
                <a class="nav-bar-links nav-bar-links-left" href="{% url imageswap.views.home %}">SwagSwap</a>
                <a class="nav-bar-links nav-bar-links-left" href="{% url imageswap.views.polls %}">Polls</a>
                {% if user.is_authenticated %}
                <a class="nav-bar-links nav-bar-links-left" href="{% url imageswap.views.createpoll %}">Create Poll</a>
                {% endif %}
            </div>

            {% if user.is_authenticated %}

            <div id="account-container">                
                <form action="{% url imageswap.views.log_out %}">
                    <button id="logout-button" class="nav-bar-links nav-bar-links-right" type="submit">Logout</button>
                </form>
                <a id="account-link" class="nav-bar-links nav-bar-links-right" href="{% url imageswap.views.account %}">{{ user.username }}</a>
            </div>


            {% else %}
    		<div id="login-container">
                <a id="register-link" class="nav-bar-links nav-bar-links-right" href="{% url imageswap.views.register %}">Register</a>
    			<button id="login-popup-button" class="nav-bar-links nav-bar-links-right">Login</button>     
                <div id="login-form-container" class="hidden dark-background-border">
                    <table>{{loginForm.as_table}}</table>
                    <button id="login-button" class="nav-bar-links nav-bar-links-right force-dark" onclick="Dajaxice.imageswap.log_in
                        (login_callback, {'username':$('#id_username').val(),
                          'password':$('#id_password').val()})">Login</button>
                </div>
	    	</div>
            {% endif %}
        </div>




        <div id="content">
            {% block content %}{% endblock %}
        </div>

    </div>
</body>
</html>
