{% extends "base.html" %}

{% block page-css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/account.css">
{% endblock %}

{% block page-js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/account.js"></script>
{% endblock %}

{% block content %}
	<div id="selectors">
		<div id="polls-selector" class="selected">Polls ({{ polls.count }})</div>
		<div id="images-selector" class="not-selected">Images (<span id="image-count">{{ images.count }}</span>)</div>
	</div>

	<div id="account-polls" class="unhidden-account">
		{% for poll in polls %}
			<div class="polls-curr dark-background-border" value="{{poll.id}}">
				<div class="polls-data">
				<p class="polls-user">from {{poll.user.user.username}}</p>
				<a class="polls-question" href="{% url imageswap.views.poll poll.id %}">{{poll.question}} </a>
				</div>
				<div class="polls-images">
					{% for image in poll.images.all %}				
						<img class="polls-image light-background-border" src="{{image.image.url}}"/>
					{% endfor %}
					{% for i in extra_polls %}						
						<img class="polls-image" src=""/>						
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</div>
	<!-- <div id="account-polls" class="unhidden-account light-background-border">
		{% for poll in polls %}
			<div class="poll-container dark-background-border">
				<div class="poll-question">{{ poll.question }}</div>
				<div class="poll-choices-container">
					{% for choice in poll.images.all %}
						<div>{{ choice.votes }}</div>
						<div class="poll-choice">
							<img class="poll-choice-image" src="{{ choice.image.url }}"/>
							<div class="results-bar" style="height:{{ choice.votes }}px;"></div>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</div> -->
	<div id="account-images" class="hidden dark-background-border">
		{% for image in images %}
			<div class="account-image-container">
				<img id="account-image-{{ image.id }}" class="account-image" src="{{ image.image.url }}"/>
				<a href="{% url imageswap.views.home image.get_id_as_hex %}">
					<img class="edit-image-image" src="{{ MEDIA_URL}}stylingimages/edit20x20.png"/>
		    	</a>
				<img class="delete-image-image" src="{{ MEDIA_URL}}stylingimages/delete20x20.png"
					 onclick="Dajaxice.imageswap.delete_image
		    					(delete_image_callback, {'image_id':$(this).prev().prev().attr('id').split('-').pop()})"/>
			</div>
		{% endfor %}
	</div>
{% endblock %}