{% extends "base.html" %}

{% block page-css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/createpoll.css"/>
{% endblock %}

{% block page-js %}
<script type="text/javascript">
	var blankURL = "{{MEDIA_URL}}headshots/blank.jpg";
    var pollURL = "{% url imageswap.views.polls %}"
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/createpoll.js"></script>
{% endblock %}


{% block content %}
<div id="createpoll" class="light-background-border">
    
    

    <div id="createpoll-pollimages" class="dark-background-border">
        <div id="createpoll-title"> {{ CreatePollQuestionForm.as_p }} </div>
        <input type="image" class="createpoll-image light-background-border" src="{{MEDIA_URL}}headshots/blank.jpg" value="-1"/>
        <input type="image" class="createpoll-image light-background-border" src="{{MEDIA_URL}}headshots/blank.jpg" value="-1"/>
        <input type="image" class="createpoll-image light-background-border" src="{{MEDIA_URL}}headshots/blank.jpg" value="-1"/>
        <input type="image" class="createpoll-image light-background-border" src="{{MEDIA_URL}}headshots/blank.jpg" value="-1"/>
        <input type="image" class="createpoll-image light-background-border" src="{{MEDIA_URL}}headshots/blank.jpg" value="-1"/>
    </div>


    <div id="createpoll-data">
    
        {{ CreatePollPrivateForm.as_p }}
        


        <p id="createpoll-instruction">Click an images below to add it to the poll</p>




        <div id="createpoll-userimages"> 


            {% for image in images %}
            <input type="image" class="createpoll-userimage light-background-border" src="{{image.image.url}}" value="{{image.pk}}"/>
            {% endfor %}
        </div>
        <button id="make-poll" onClick="Dajaxice.imageswap.create_poll
                                                        (createpoll_callback, 
                                                        {'question':$('#id_question').val(),
                                                         'private':$('#id_private').prop('checked'),
                                                         'images':{
                                                                'image0':$('.createpoll-image').eq(0).attr('value'),
                                                                'image1':$('.createpoll-image').eq(1).attr('value'),
                                                                'image2':$('.createpoll-image').eq(2).attr('value'),
                                                                'image3':$('.createpoll-image').eq(3).attr('value'),
                                                                'image4':$('.createpoll-image').eq(4).attr('value')}
                                                        })">Make Poll</button>


        <div id="createpoll-error"></div>
    </div>
</div>
{% endblock %}