{% extends "base.html" %}

{% block page-css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}fancybox/jquery.fancybox.css?v=2.1.4">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/home.css">
{% endblock %}

{% block page-js %}
<script type="text/javascript" src="{{STATIC_URL}}fancybox/jquery.fancybox.pack.js?v=2.1.4"></script>
{% if image != None %}
	<script type="text/javascript">	
		var styleURL = "{{ image.style.image.url }}";
		var styleID = "{{ image.style.id }}";
		var x_offset = "{{ image.x_offset }}";
		var y_offset = "{{ image.y_offset }}";
		var headshot_width = "{{ image.headshot.image.width }}";
		var headshot_height = "{{ image.headshot.image.height }}";
		var style_width = "{{ image.style_width }}";
		var style_height = "{{ image.style_height }}";	
	</script>
{% endif %}
<script type="text/javascript" src="{{ STATIC_URL }}js/home.js"></script>
{% endblock %}

{% block content %}
	<div id="home-options" class="dark-background-border">
		{% if user.is_authenticated %}
		<div id="save-button" class="home-option">Save Image</div>
    	<form id="upload-headshot-form" enctype="multipart/form-data" action="{% url imageswap.views.upload_headshot %}" method="POST">{% csrf_token %}
    		<input id="upload-headshot" class="hidden" type="file" name="uploaded-headshot"/>
    		<div id="upload-headshot-button" class="home-option">Upload Headshot</div>
    	</form>
   		<a href="#headshots-container" class="fancybox home-option">Choose Headshot</a>
		<div id="headshots-container" class="hidden">
		{% for userHeadshot in userHeadshots %}
			<input type="image" class="user-headshots" src="{{ userHeadshot.image.url }}" value="{{ userHeadshot.id }}"/>
		{% endfor %}
		</div>
		{% else %}
		<span class="not-logged-in-message">Please sign in to access more features.</span>
		{% endif %}
	</div>
	
	

	<div id="workspace" class="light-background-border">
		{% if image != None %}
			<input type="image" id="headshot" src="{{ image.headshot.image.url }}" value="{{ image.headshot.id }}"/>
		{% elif headshot != None %}
			<input type="image" id="headshot" src="{{ headshot.image.url }}" value="{{ headshot.id }}"/>
		{% else %}
			<input type="image" id="headshot" src="{{ MEDIA_URL}}headshots/blank.jpg" value="0"/>
		{% endif %}
		<!-- <div id="active-style-container"></div> -->
	</div>

	<div id="style-options" class="dark-background-border">
		{% if user.is_authenticated %}
		<form id="upload-style-form" enctype="multipart/form-data" action="{% url imageswap.views.upload_style %}" method="POST">{% csrf_token %}
    		<input id="upload-style" class="hidden" type="file" name="uploaded-style"/>
    		<div id="upload-style-button" class="home-option">Upload Style</div>
    	</form>
    	{% else %}
    	<span class="not-logged-in-message">Sign In.</span>
    	{% endif %}
	</div>
	<div id="style-container" class="light-background-border">
		{% for style in styles %}
			<input type="image" class="style" src="{{ style.image.url }}" value="{{ style.id }}"/>
		{% endfor %}
	</div>
{% endblock %}
