{% extends "base.html" %}

{% block page-css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/polls.css">
{% endblock %}

{% block page-js %}
<script type="text/javascript" src="{{STATIC_URL}}js/polls.js"></script>
{% endblock %}

{% block content %}



	<table id="polls-table">

		<td class="polls-button-col">
			<div >

			<img id="polls-newer" class="polls-button" 
					src=" {{ MEDIA_URL}}stylingimages/newer.png"
					onClick="Dajaxice.imageswap.polls_set( nextpoll_callback,
											 {
				    							'newest':  $('.polls-curr').eq(0).attr('value'),
				    							'back':  false,
				    							'display_num':  {{display_num}},
				    							'url':'{% url imageswap.views.polls %}'
		    					  			})" />
		    </div>
		</td>
		<td>

	

			<div id="polls-currset">
			{% for poll in polls %}
			
				<div class="polls-curr dark-background-border" value="{{poll.pk}}">
					<div class="polls-data">
					<p class="polls-user">from {{poll.user}}</p>
					<a class="polls-question" href="{% url imageswap.views.poll poll.pk %}">{{poll.question}} {{poll.remainder}}</a>
					</div>

				
						
						
				

					<div class="polls-images">
						{% for image in poll.images.all %}
				
							<img class="polls-image light-background-border" src="{{image.image.url}}"/>
					


						{% endfor %}


						{% for i in poll.remainder %}
							<h1> BANANA </h1>
							<img class="polls-image" src="none"/>
						
						{% endfor %}
					</div>


					



				</div>
		{% endfor %}
		</div>
	</td>
	<td class="polls-button-col">

		<div >
			{% if back %}
		<img id ="polls-older" class="polls-button" 
				src="{{ MEDIA_URL}}stylingimages/older.png"
				onClick="Dajaxice.imageswap.polls_set( 
										nextpoll_callback ,{
			    							'newest':  $('.polls-curr').eq(0).attr('value'),
			    							'back':  true,
			    							'display_num':  {{display_num}},
			    							'url':'{% url imageswap.views.polls %}'
	    					  			})"/>
	    	{% endif %}
	    </div>
	</td>

	
	
		


</div>

</table>
{% endblock %}