{% extends "base.html" %}

{% block page-css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/poll.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bar.css">
{% endblock %}

{% block page-js %}
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/poll.js"></script>
{% endblock %}

{% block content %}
	<div id="poll-container" class="dark-background-border">


	
	
	<div id="poll-data">   
		<span id="userdate">{{poll.user}} - {{poll.date}}</span>
		<span id="poll-question">{{poll.question}}</span>
		
	</div>


		<div id="poll-options">
			{% for choice in choices %}

			   
			    	<div class = "poll-option light-background-border">
					    <img class="poll-image" 				    	
					    	 src="{{ choice.image.image.url }}" 
					    	 onclick="Dajaxice.imageswap.vote(vote_callback,{'choicepk':  {{choice.pk}}  })">
					    </img>
					    	
					    <div id="choice{{choice.pk}}" class="poll-votes" value="{{choice.votes}}">{{choice.votes}} </div>
					    
					    <div class="progressbar" data-perc="25">					
							<div class="bar color3"><span class="choice" > </span><span></span></div>
							<div class="label"><span></span></div>
						</div>
					</div>

			

				<!-- <span class="choice" id="choice{{choice.pk}}"> {{choice.votes}}</span> -->

				
			{% endfor %}
		</div>


		
	</div>
<div id="poll-error"></div>





{% endblock %}
