{% extends "base.html" %}

{% block page-css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/register.css">
{% endblock %}

{% block content %}
    <div id="form-container">
        <form id="register-form" class="light-background-border" action="{% url imageswap.views.register %}" method="post">{% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <button id="register-button" class="force-dark" type="submit">Register</button>
        </form>
    </div>
{% endblock %}
